.header {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: sans-serif;
}

.header #navbar {
    width: 85%;
    margin: auto;
    display: flex;
}

.leftt,
.righti {
    flex-basis: 50%;
}