.header {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: sans-serif;
    /* border-bottom: 1px solid black; */
    /* box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2); */
}

.hr {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    /* width: 5px; */
    /* size: "50px" solid black;
     */
    height: 1.2px;
    background: black;
}

.list {
    padding-top: 7px;
    display: flex;
    flex: 1;
    padding-left: 400px;
}

.list li {
    list-style-type: none;
    margin-left: 30px;
    padding: 6px 16px;
}

.cname {
    padding-top: 8px;
}

.header #navbar {
    width: 85%;
    margin: auto;
    display: flex;
}

.row {
    display: flex;
    /* float: left; */
}

.column1 {
    /* width: 50%; */
    flex: 50%;
    text-align: center;
    font-size: 20px;
    padding: 80px;
    padding-top: 100px;
}

.column2 {
    /* width: 50%; */
    /* padding-right: 100px; */
    flex: 50%;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .column {
        flex: 100%;
        text-align: center;
    }
}

.column1 h1 {
    font-family: 'Lato', sans-serif;
    font-size: 32px;
}